.banner{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include responsive(md){
        height: unset;
        display: unset;
    }
    .background-image{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
        height: 100vh;
        object-fit: cover;
        @include responsive(md){
            position: absolute;
            height: 75vh;
        }
        @include responsive(sm){
            height: 70vh;
        }
        @include responsive(xs){
            height: 80vh;
        }
        @media(max-height:800px) and (max-width: 767px){
            height: 28%;
        }
        @media(max-height:800px) and (max-width: 567px){
            height: 32%;
        }
    }
    .inner{
        margin: 0 auto;
        // padding-top: 180px;
        display: flex;
        justify-content: center;
        // @include responsive(xl){
        //     padding-top: 200px;
        // }
        // @include responsive(lg){
        //     padding: 300px 55px;
        // }
        @include responsive(md){
            padding: 180px 45px;
        }
        @include responsive(sm){
            padding: 160px 20px 120px;
        }
        @include responsive(xs){
            padding: 160px 20px 100px;
        }
        .content{
            text-align: center;
            max-width: 1130px;
            @include responsive(xs){
                max-width: 480px;
            }
            .heading{
                font-family: 'DirtyLine';
                font-size: 100px;
                letter-spacing: -1.8px;
                color: white;
                font-weight: 500;
                @include responsive(lg){
                    font-size: 78px;
                }
                @include responsive(md){
                    font-size: 60px;
                }
                @include responsive(sm){
                    font-size: 50px;
                }
                @include responsive(xs){
                    font-size: 45px;
                }
                span{
                    display: inline-block;
                    transform: translateY(-25%);
                    font-size: 50px;
                    @include responsive(lg){
                        font-size: 40px;
                    }
                    @include responsive(md){
                        font-size: 30px;
                    }
                    @include responsive(sm){
                        font-size: 24px;
                    }
                    @include responsive(xs){
                        font-size: 20px;
                    }
                }
            }
            .description{
                margin: 0 auto;
                margin-top: 20px;
                color: #fff;
                font-size: 26px;
                font-family: 'LabGrotesque';
                font-weight: 100;
                @include responsive(lg){
                    font-size: 22px;
                }
                @include responsive(md){
                    font-size: 18px;
                }
                @include responsive(sm){
                    font-size: 16px;
                }
            }
            a{
                display: inline-block;
                font-size: 16px;
                color: #fff;
                cursor: pointer;
                font-family: 'LabGrotesque';
                border: 1px solid #fff;
                text-decoration: none;
                padding: 20px 30px;
                margin-top: 40px;

            //     &:hover{
            //         transition: 0.3s ease;
            //         color: #F4E9D7;
            //         border-color: #F4E9D7;
            //     }
            // }
        }
    }
}