.green{
    &::after{
        background-color: #1a4a4a;
    }
}
.none{
    &::after{
        background-color: unset;
    }
}
footer{
    background-color: #6d3214;
    padding: 40px;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        inset: 0;
        background-color: #fff;
        z-index: -1;
    }
    .inner{
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #fff;
        @include responsive(sm){
            flex-wrap: wrap;
        }
        .origin-and-address{
            width: calc(50% - 200px);
            margin-bottom: 35px;
            @include responsive(lg){
                margin-bottom: 30px;
            }
            @include responsive(sm){
                width: 50%;
                order: 1;
                margin-bottom: 0px;
            }
            .logos-wrap{
                display: flex;
                align-items: center;
                .exr-logo{
                    width: 80px;
                    margin-right: 15px;
                    @include responsive(lg){
                        width: 70px;
                    }
                    @include responsive(md){
                        width: 50px;
                        margin-right: 12px;
                    }
                    @include responsive(sm){
                        width: 60px;
                    }
                    @include responsive(xs){
                        width: 40px;
                        margin-right: 10px;
                    }
                    img{
                        width: 100%;
                    }
                }
                .house-logo{
                    width: 70px;
                    @include responsive(lg){
                        width: 60px;
                    }
                    @include responsive(md){
                        width: 40px;
                    }
                    @include responsive(sm){
                        width: 50px;
                    }
                    @include responsive(xs){
                        width: 30px;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .logo-and-copyright{
            text-align: center;
            @include responsive(sm){
                width: 100%;
                margin-bottom: 35px;
            }
            @include responsive(xs){
                margin-bottom: 30px;
            }
            img{
                margin-bottom: 30px;
                @include responsive(xl){
                    width: 160px;
                }
                @include responsive(md){
                    width: 120px;
                    margin-bottom: 25px;
                }
                @include responsive(sm){
                    margin-bottom: 20px;
                    width: 140px;
                }
                @include responsive(xs){
                    width: 120px;
                }
            }
            p{
                font-size: 18px;
                font-family: 'LabGrotesque';
                @include responsive(lg){
                    font-size: 16px;
                }
                @include responsive(md){
                    font-size: 14px;
                }
                @include responsive(sm){
                    font-size: 16px;
                }
                @include responsive(xs){
                    font-size: 12px;
                }
            }
        }
        .links{
            width: calc(50% - 200px);
            text-align: end;
            margin-bottom: 30px;
            @include responsive(lg){
                margin-bottom: 25px;
            }
            @include responsive(sm){
                width: 50%;
                order: 2;
                align-self: flex-end;
                margin-bottom: 0px;
            }
            .link{
                display: block;
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 26px;
                text-decoration: none;
                font-family: 'Dirtyline';
                color: #ffffff;
                transition: 0.3s color ease;
                &:hover{
                    color: #f4e9d7;
                }
                @include responsive(xl){
                    margin-bottom: 20px;
                }
                @include responsive(lg){
                    font-size: 22px;
                }
                @include responsive(md){
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                @include responsive(sm){
                    font-size: 20px;
                    margin-bottom: 16px;
                }
                @include responsive(xs){
                    font-size: 16px;
                    margin-bottom: 12px;
                }
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}