@font-face{
    font-family: 'Dirtyline';
    src: url('../fonts/Casta-Black.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LabGrotesque';
    src: url('../fonts/LabGrotesque-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

